<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Shows </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="/static/scripts/search.js"></script>
        <link rel="stylesheet" href= "/static/styles/watchList.css">
        <!-- <link rel="stylesheet" href="/static/styles/popup.css"> -->
    </head>

    <body>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/"> Watch List </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home/"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shows/"> Shows </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <select name="search-by" id="search-by">
                            <option value="all"> All </option>
                            <option value="title"> Title </option>
                            <option value="rating"> Rating </option>
                            <option value="progress"> Progress </option>
                        </select>
                        <input name="search-bar" id="search-bar" type="text" placeholder="Search">
                    </div>
                    <div class="col-md-6">
                        <a href="/shows/add/"> Add Show </a>
                    </div>
                </div>
            </div>       

            <table>
                <tr>
                    <th> Title </th>
                    <th> Rating(_/10) </th>
                    <th> Progress </th>
                </tr>
                {% for show in shows %}
                <tr>
                    <td> {{show.title}} </td>
                    <td> {{show.rating}} </td>
                    <td> {{show.progress}} </td>
                </tr>
                {% endfor %}
            </table>
        </main>

    </body>

</html>